body{
    background-color: rgb(227, 239, 241);
}

#main
{
    color: blue;
    font-size:50px;
    margin-top: 150px;
  margin-left: 250px;
  font-family: "Concert One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
}

#pa{
 font-weight: bold ;
 margin-top: -50px;
 margin-left: 250px;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
}

.container{
    align-items: center;
    justify-content: center;
    background-color:#fff;
    padding: 10px;
  margin-left: 850px;
  margin-top: -240px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 2.5px 2.5px gray;
  
}


.form{
    padding: 5px;
}

.frm{
    background-color: rgb(198, 235, 235);
    font-size: x-large;
    border-radius: 6px;
    padding: 2px;
    margin: 2px;
    margin-left: -3px;
}

#btn{
    background-color: blue;
    color: aliceblue;
    align-items: center;
    width: 300px;
    height: 40px;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 10px;
    border-radius: 5px;
}

#btn:hover{
    cursor: pointer;
    background-color: rgb(1, 1, 205);
}


#create{
    background-color: green;
    color: aliceblue;
    align-items: center;
    width:210px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 6px;
    margin-top:-200px;
}
#create:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.903);
}

#forgot{
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    margin-bottom: -20px;
    margin-top: 5px;
}
#forgot:hover{
    text-decoration: underline;
}

#line{
    margin-top: 30px;
    width:300px;
    border-top: 1px solid rgb(184, 181, 181);
    font-weight: bolder;
}
.formbtn,
.create-account  {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

#bold{
    font-weight: bolder;
}
#bold:hover{
    text-decoration: underline;
    cursor: pointer;
}

#footer{
    margin-left: 850px;
    font-size: medium;
}

.ftt{
    background-color: rgb(255, 253, 251);
   width: 100%;
   position: fixed;
   bottom: 0;
   padding: 10px;

}
.underline:hover{
    text-decoration: underline;
}
    

@media screen and (max-width:600px) {
    #main{
        margin-left: auto;
       margin-right: auto;
       text-align: center;
    }

    #pa{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    #footer{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .ftt{
        position:relative;

    }
}